* { margin: 0; padding: 0; box-sizing: border-box; }


.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75% }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

[class *= 'col-'] {
    float: left;
}

.container {
    width: 90%;
    height: auto;
    margin: auto;
}

.row:after {
    content: ' ';
    clear: both;
    display: block;
}

.menu-height { height: 100px; }

.nav-menu-height { height: 100px; position: relative; }
.hero-section-height { height: 650px; position: relative; }
.service-height { height: 500px; }

.logo-img {
    height: 80px;
    width: 80px;
    margin: 10px 0 0 20px;
}

.nav-menu ul {
    list-style: none;
    margin-top: 40px;
    position: absolute;
    right: 0;
}

.nav-menu ul li {
    float: left;
    margin-right: 30px;
    width: 70px;
}

.nav-menu ul li a {
    text-decoration: none;
    height: 30px ;
    color: #616161;
    font-family: Poppins;
    font-weight: normal;
    text-transform: uppercase;
}

.nav-menu ul li a:hover {
    color: #292929;
}

.menu-active {
    color: #292929 !important;
}

.search-icon i{
    font-size: 22px;
    margin: 37px 10px 0 20px;
    position: absolute;
    right: 0;
    color: gray;
}

.menu-section {
    background-color: #C8C8C8;
    border-bottom: 1px solid #979797;
}

.hero-section {
    background-color: #C8C8C8;
    background-image: url("../images/hero-section-1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
}

.hero-content {
    padding: 200px 20px 200px 60px;
}

.our-services {
    text-transform: uppercase;
    font-size: 22px;
    font-family: Poppins;
    font-weight: lighter;
    letter-spacing: 10px;
    color: #292929;
}
.hero-title {
    text-transform: uppercase;
    font-size: 80px;
    font-family: Poppins;
    font-weight: bold;
    padding: 10px 0;
}

.hero-paragraph {
    font-size: 18px;
    font-family: Poppins;
    font-weight: lighter;
    color: #292929;
}

.service-image {
    background-color: #070707;
    margin: 80px 10px;
    float: left;
}

.service-content {
    float: left;
}

.service-image img {
    width: 150%;
    margin-top: 17%;
    margin-left: 60px;
}

.border-style {
    height: 10px;
    width: 60px;
    background-color: black;
}